.whatsappClose{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-left: .5rem;
    background-color: rgb(45, 183, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsappClose-svg{
    width: 26px;
    fill: white;
}

.whatsappClose:hover{
    /* cursor: pointer;
    fill: rgb(139, 133, 91); */
}