.elementor-1617 .elementor-element.elementor-element-e0da2d4 {
	--display: flex;
	--min-height: 50vh;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--justify-content: center;
	--background-transition: 0.3s;
	--overlay-opacity: 0.5;
}

.elementor-1617 .elementor-element.elementor-element-e0da2d4:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url(./../images/0H7A4932-scaled.webp);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-1617 .elementor-element.elementor-element-e0da2d4::before,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-background-video-container::before,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.e-con-inner>.elementor-background-video-container::before,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-background-slideshow::before,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	--background-overlay: '';
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-e0da2d4,
.elementor-1617 .elementor-element.elementor-element-e0da2d4::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-shape-bottom .elementor-shape-fill,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.e-con-inner>.elementor-shape-bottom .elementor-shape-fill {
	fill: #F2F2F2;
}

.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-shape-bottom svg,
.elementor-1617 .elementor-element.elementor-element-e0da2d4>.e-con-inner>.elementor-shape-bottom svg {
	height: 70px;
}

.elementor-1617 .elementor-element.elementor-element-fe82cc2 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-fe82cc2 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Playfair Display", Sans-serif;
	font-size: 60px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-5e60db1 {
	--display: flex;
	--min-height: 50vh;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--justify-content: center;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-5e60db1:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-5e60db1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F2F2F2;
}

.elementor-1617 .elementor-element.elementor-element-5e60db1,
.elementor-1617 .elementor-element.elementor-element-5e60db1::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-b1cdea3 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-b1cdea3 .elementor-heading-title {
	color: #000000;
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-f591d7c {
	--divider-border-style: solid;
	--divider-color: #000;
	--divider-border-width: 1px;
}

.elementor-1617 .elementor-element.elementor-element-f591d7c .elementor-divider-separator {
	width: 15%;
	margin: 0 auto;
	margin-center: 0;
}

.elementor-1617 .elementor-element.elementor-element-f591d7c .elementor-divider {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-1617 .elementor-element.elementor-element-77ba8f2 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-3a183a2 {
	--display: flex;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-c59ed91 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-8757daf {
	--display: flex;
	--background-transition: 0.3s;
	--border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-8757daf:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-8757daf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-8757daf,
.elementor-1617 .elementor-element.elementor-element-8757daf::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-51a6fc2 .elementor-button {
	font-family: "Century Gothic", Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-e655e46 {
	--display: flex;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-6a2169b img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-59a45ba {
	--display: flex;
	--background-transition: 0.3s;
	--border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-59a45ba:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-59a45ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-59a45ba,
.elementor-1617 .elementor-element.elementor-element-59a45ba::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-c2a02be .elementor-button {
	font-family: "Century Gothic", Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-88bd962 {
	--display: flex;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-9a81fba img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-66133ce {
	--display: flex;
	--background-transition: 0.3s;
	--border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-66133ce:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-66133ce>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-66133ce,
.elementor-1617 .elementor-element.elementor-element-66133ce::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-063c23f .elementor-button {
	font-family: "Century Gothic", Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-e4a46b0 {
	--display: flex;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-ce0d485 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-b901672 {
	--display: flex;
	--min-height: 97px;
	--justify-content: center;
	--background-transition: 0.3s;
	--border-radius: 0px 0px 0px 0px;
	--margin-block-start: 0px;
	--margin-block-end: 0px;
	--margin-inline-start: 0px;
	--margin-inline-end: 0px;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-b901672:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-b901672>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-b901672,
.elementor-1617 .elementor-element.elementor-element-b901672::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-c87f6d7 .elementor-button {
	font-family: "Century Gothic", Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-f3edadb {
	--display: flex;
	--min-height: 100vh;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--justify-content: center;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-f3edadb:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-f3edadb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-f3edadb,
.elementor-1617 .elementor-element.elementor-element-f3edadb::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-958eef9 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-958eef9 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-166f310 {
	--divider-border-style: solid;
	--divider-color: #FFFFFF;
	--divider-border-width: 1px;
}

.elementor-1617 .elementor-element.elementor-element-166f310 .elementor-divider-separator {
	width: 15%;
	margin: 0 auto;
	margin-center: 0;
}

.elementor-1617 .elementor-element.elementor-element-166f310 .elementor-divider {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-1617 .elementor-element.elementor-element-8991a1d {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-c9c8f9a {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-c9c8f9a:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-c9c8f9a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-1617 .elementor-element.elementor-element-c9c8f9a,
.elementor-1617 .elementor-element.elementor-element-c9c8f9a::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-2c9f94d img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-6edd7dc {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-6edd7dc .elementor-heading-title {
	color: #000000;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-6edd7dc>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-788a4af {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-788a4af .elementor-heading-title {
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-4452e7b .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-4452e7b>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-76ce9fe {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-76ce9fe:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-76ce9fe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-1617 .elementor-element.elementor-element-76ce9fe,
.elementor-1617 .elementor-element.elementor-element-76ce9fe::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-903f99b img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-b120e6a {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-b120e6a .elementor-heading-title {
	color: #000000;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-b120e6a>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-2c5b841 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-2c5b841 .elementor-heading-title {
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-ab77246 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-ab77246>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-706256b {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-706256b:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-706256b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-1617 .elementor-element.elementor-element-706256b,
.elementor-1617 .elementor-element.elementor-element-706256b::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-391c1cf img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-b21f45f {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-b21f45f .elementor-heading-title {
	color: #000000;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-b21f45f>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-fc6d7ce {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-fc6d7ce .elementor-heading-title {
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-ec7d3d4 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-ec7d3d4>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-1d63b6e {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-6927751 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-6927751:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-6927751>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-1617 .elementor-element.elementor-element-6927751,
.elementor-1617 .elementor-element.elementor-element-6927751::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-6f64363 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-7e8b68f {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-7e8b68f .elementor-heading-title {
	color: #000000;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-7e8b68f>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-fd24d7d {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-fd24d7d .elementor-heading-title {
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-06fb7d0 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-06fb7d0>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-0683f5f {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-0683f5f:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-0683f5f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-1617 .elementor-element.elementor-element-0683f5f,
.elementor-1617 .elementor-element.elementor-element-0683f5f::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-0177640 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-14f8f02 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-14f8f02 .elementor-heading-title {
	color: #000000;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-14f8f02>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-cfffb7b {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-cfffb7b .elementor-heading-title {
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-58139f0 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-58139f0>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-aa28987 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-aa28987:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-aa28987>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-1617 .elementor-element.elementor-element-aa28987,
.elementor-1617 .elementor-element.elementor-element-aa28987::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-049db1e img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-3a150f2 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-3a150f2 .elementor-heading-title {
	color: #000000;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-3a150f2>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-f835ecf {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-f835ecf .elementor-heading-title {
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-4bfc893 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-4bfc893>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-8927260 {
	--display: flex;
	--min-height: 100vh;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--justify-content: center;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-cc87df5 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-cc87df5 .elementor-heading-title {
	color: #000000;
	font-family: "Playfair Display", Sans-serif;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-807aa72 {
	--divider-border-style: solid;
	--divider-color: #000;
	--divider-border-width: 1px;
}

.elementor-1617 .elementor-element.elementor-element-807aa72 .elementor-divider-separator {
	width: 15%;
	margin: 0 auto;
	margin-center: 0;
}

.elementor-1617 .elementor-element.elementor-element-807aa72 .elementor-divider {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-1617 .elementor-element.elementor-element-811d216 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-508aa15 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-508aa15:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-508aa15>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-508aa15,
.elementor-1617 .elementor-element.elementor-element-508aa15::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-53eccb0 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-e03919c {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-e03919c .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-e03919c>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-5b207dd {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-5b207dd .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

.elementor-1617 .elementor-element.elementor-element-7a95d18 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-7a95d18>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-c458bdc {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-c458bdc:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-c458bdc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-c458bdc,
.elementor-1617 .elementor-element.elementor-element-c458bdc::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-adfd4a2 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-50c052c {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-50c052c .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-50c052c>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-347fe4d {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-347fe4d .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

.elementor-1617 .elementor-element.elementor-element-12f677a .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-12f677a>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-34e4f02 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-34e4f02:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-34e4f02>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-34e4f02,
.elementor-1617 .elementor-element.elementor-element-34e4f02::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-e755ff8 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-63e4536 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-63e4536 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-63e4536>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-b5cc526 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-b5cc526 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}

.elementor-1617 .elementor-element.elementor-element-7ccbe75 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-7ccbe75>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-817ff25 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--background-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-4f2d5fe {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-4f2d5fe:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-4f2d5fe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-4f2d5fe,
.elementor-1617 .elementor-element.elementor-element-4f2d5fe::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-babc2ce img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-c758006 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-c758006 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-c758006>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-5b396e4 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-5b396e4 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-769cbbd .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-769cbbd>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-3743663 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-3743663:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-3743663>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-3743663,
.elementor-1617 .elementor-element.elementor-element-3743663::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-bc286ff img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-02c7e31 {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-02c7e31 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-02c7e31>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-62f4f5b {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-62f4f5b .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-96b81be .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-96b81be>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-1617 .elementor-element.elementor-element-093b19f {
	--display: flex;
	--background-transition: 0.3s;
	--padding-block-start: 0px;
	--padding-block-end: 0px;
	--padding-inline-start: 0px;
	--padding-inline-end: 0px;
}

.elementor-1617 .elementor-element.elementor-element-093b19f:not(.elementor-motion-effects-element-type-background),
.elementor-1617 .elementor-element.elementor-element-093b19f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #000000;
}

.elementor-1617 .elementor-element.elementor-element-093b19f,
.elementor-1617 .elementor-element.elementor-element-093b19f::before {
	--border-transition: 0.3s;
}

.elementor-1617 .elementor-element.elementor-element-1db2ab0 img {
	height: 200px;
	object-fit: cover;
	object-position: center center;
}

.elementor-1617 .elementor-element.elementor-element-e3f929e {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-e3f929e .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Century Gothic", Sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.elementor-1617 .elementor-element.elementor-element-e3f929e>.elementor-widget-container {
	margin: 10px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-aaf8d2a {
	text-align: center;
}

.elementor-1617 .elementor-element.elementor-element-aaf8d2a .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.elementor-1617 .elementor-element.elementor-element-293780c .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	fill: #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1617 .elementor-element.elementor-element-293780c>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

@media(min-width:1025px) {

	.elementor-1617 .elementor-element.elementor-element-e0da2d4:not(.elementor-motion-effects-element-type-background),
	.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed;
	}
}

@media(max-width:1024px) {

	.elementor-1617 .elementor-element.elementor-element-e0da2d4>.elementor-shape-bottom svg,
	.elementor-1617 .elementor-element.elementor-element-e0da2d4>.e-con-inner>.elementor-shape-bottom svg {
		height: 30px;
	}

	.elementor-1617 .elementor-element.elementor-element-77ba8f2 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
	}

	.elementor-1617 .elementor-element.elementor-element-51a6fc2 .elementor-button {
		font-size: 20px;
	}

	.elementor-1617 .elementor-element.elementor-element-c2a02be .elementor-button {
		font-size: 20px;
	}

	.elementor-1617 .elementor-element.elementor-element-063c23f .elementor-button {
		font-size: 20px;
	}

	.elementor-1617 .elementor-element.elementor-element-c87f6d7 .elementor-button {
		font-size: 20px;
	}

	.elementor-1617 .elementor-element.elementor-element-8991a1d {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
	}

	.elementor-1617 .elementor-element.elementor-element-1d63b6e {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
	}

	.elementor-1617 .elementor-element.elementor-element-811d216 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
	}

	.elementor-1617 .elementor-element.elementor-element-817ff25 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
	}
}

@media(max-width:767px) {
	.elementor-1617 .elementor-element.elementor-element-fe82cc2 .elementor-heading-title {
		font-size: 37px;
	}

	.elementor-1617 .elementor-element.elementor-element-51a6fc2 .elementor-button {
		font-size: 16px;
	}

	.elementor-1617 .elementor-element.elementor-element-c2a02be .elementor-button {
		font-size: 16px;
	}

	.elementor-1617 .elementor-element.elementor-element-063c23f .elementor-button {
		font-size: 16px;
	}

	.elementor-1617 .elementor-element.elementor-element-c87f6d7 .elementor-button {
		font-size: 16px;
	}

	.elementor-1617 .elementor-element.elementor-element-958eef9>.elementor-widget-container {
		margin: 50px 0px 0px 0px;
	}

	.elementor-1617 .elementor-element.elementor-element-cc87df5>.elementor-widget-container {
		margin: 50px 0px 0px 0px;
	}
}

/* Start Custom Fonts CSS */
@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url(./../fonts/07558_CenturyGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url(./../fonts/DOMINIKTH.ttf) format('truetype');
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: ;
}

/* End Custom Fonts CSS */