.header{
  font-family: var(--typography-primary-font-family);
  background-color: white; 
  z-index: 100;
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 5.1vw;
  @media screen and (max-width:1024px) {
    margin: 2rem;
  }
}

.header-logo{
  width: 200px;
}

.logo-img{
  transition: all ease .5s;
  height: 5.1vw;
}

.logo-img:hover{
  transform: translateY(-.5rem);
}

.header-nav{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
}

.header-navLink{
  padding: 1rem;
}

.header-navLink:hover{
  background-color: rgb(232, 232, 231);
}

.header-navLink{
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bold;
}

.header-menuIcon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menuIconContainer{ 
  border-radius: 4px;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIconContainer:hover{
  cursor: pointer;
  border-color: rgb(139, 133, 91);
}

.header-connect{
  padding:  1rem;
  margin-left: .5rem;
  background-color: black;
  height: 1.5rem;
  width: 20vw;
  border-radius: .2rem;
}

.connect-link{
  width: 100%;
  display: flex;
  align-items: flex-start;
  color: white;
  font-weight: bold;
}

.connect-link:hover{
  color: white;
  cursor: pointer;
}

.connect-svg{
  width: 17px;

}

.connect-btn{
  width: 100%;
  line-height: 1rem;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}


@media screen and (max-width: 1024px) {
  .logo-img{
    height: 74px;
  }
  .header-connect{
    min-width: 153px;
  }
}