.header{
  font-family: var(--typography-primary-font-family); 
}

.header-section{
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  height: 5.1vw;
}

.header-logo{
  width: 200px;
}

.logo-img{
  height: 5.1vw;
}

.header-nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu-link{
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bold;
}

.connect{
  display: flex;
}

.connect-svg{
  width: 20px;
  color: white;
}