.header{
  border: thin black solid;
  font-family: var(--typography-primary-font-family); 
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 5.1vw;
  @media screen and (max-width:1024px) {
    margin: 2rem;
  }
}

.header-logo{
  width: 200px;
}

.logo-img{
  height: 5.1vw;
}

.header-nav{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
}

.header-navLink{
  padding: 1rem;
}

.header-navLink{
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bold;
}

.header-menuIcon{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.menuIconContainer{
  
  border-radius: 4px;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon{
  width: 1.6rem;
  margin: .2rem;
}

.header-connect{
  padding: .7rem 1rem;
  background-color: black;
  height: 3.5rem;
  width: 20vw;
  border-radius: .2rem;
}

.connect-link{
  width: 100%;
  display: flex;
  align-items: flex-start;
  color: white;
  font-weight: bold;
}

.connect-link:hover{
  color: white;
  cursor: pointer;
}

.connect-svg{
  width: 17px;
}

.connect-btn{
  width: 100%;
  line-height: 1rem;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .logo-img{
    height: 3.3rem;
  }
  .header-connect{
    min-width: 153px;
  }
}