.whatsapp{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
}

.whatsapp-msg{
    width: 156px;
    height: auto;
    background-color: #f5f7f9;
    padding: .5rem;
    border-radius: 4px;
    color: #43474e;
    font-size: 12px;
    display: flex;
    align-items: center;
    }

.whatsapp-msg span{
    font-weight: bold;
}

