.footer{
    width: 100%;
      
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.footer-title h3{
    width: 50%;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.footer-socialNW{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-icon{
    margin: 0 1rem;
}

.icon{
    width: 25px;
}
 .footer-content{
    width: 100%;
    padding-left: 4rem;
    padding-right: 1rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:1024px) {
      flex-direction: column;
      align-items: center;
    }
 }

 .footer-content p{
    color: white;
    font-family: "Century Gothic", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 1rem 0;
 }

 .footer-section{
   max-width: 300px;
   width: 25%;  
   @media screen and (max-width:1024px) {
   width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
 } 

.footer-logo{
    position: relative;
    width: 200px;
    margin-top: 3rem;
    margin-bottom: 50px;
 }

 .footer-logo:after{
    position: absolute;
    content: "";
    top: 100px;
    left: 0;
    background-color: white;
    width: 4vw;
    height: 1px;
 }

 .footer-logoImg{
    height: 5.1vw;
 }

 .footer-sectionTitle{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: white;
    font-size: 20px;
 }

 .footer-sectionTitle:after{
    position: absolute;
    content: "";
    top: 65px;
    left: 0;
    background-color: white;
    width: 4vw;
    height: 1px;
 }

 .footer-line{
   width: 100%;
   height: 1px;
   background-color: white;
 }

 .footer-footer{
   width: 100%;
   display: flex;
   justify-content: center;
   color: var(--color-white);
   margin: 1rem 0 3rem;
}
