:root{
    --color-primary: #000000;
	--color-secondary: #54595F;
	--color-text: #7A7A7A;
	--color-accent: #000000;
	--typography-primary-font-family: "Century Gothic";
	--typography-primary-font-weight: 600;
	--typography-secondary-font-family: "Poppins";
	--typography-secondary-font-weight: 400;
	--typography-text-font-family: "Poppins";
	--typography-text-font-weight: 400;
	--typography-accent-font-family: "Poppins";
	--typography-accent-font-weight: 500;
}

ul, li, a, span, p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url(./../fonts/07558_CenturyGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'Century Gothic';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url(./../fonts/DOMINIKTH.ttf) format('truetype');
}